{% extends 'base.html' %}
 
{% block content %}
{{ super() }}
<p>Метод k -ближайших соседей (KNN)
<form action="/p_knn" method="POST">
    <p><input type="text" class="form_text" name="list1"> Каллорийность</p>
    <p><input name="list2" class="form_text" type="text"> Длина </p>
    <p><input name="list3" class="form_text" type="text"> Уровень сахара</p>
    <input type="submit" class="form_btn" value="Узнать сорт дыни">
    <p> Классификация </p>
    <p> Metric r2: -0.8301066805584829</p>
    <p> Metric rmsle: 0.113758386813613249</p>
     <p> Metric mre: 0.113758386813613249</p>
    <h1>{{class_model}}</h1>
    </p>
</form>


{% endblock %}