{% extends 'base.html' %}
 
{% block content %}
{{ super() }}
<p>Метод модели Логистической регрессии
<form action="/p_lab2" method="POST">
    <p><input type="text" class="form_text" name="list1"> Каллорийность</p>
    <p><input name="list2" class="form_text" type="text"> Длина </p>
    <p><input name="list3" class="form_text" type="text"> Уровень сахара</p>
    <input type="submit" class="form_btn" value="Узнать сорт дыни">
    <h1>{{class_model}}</h1>
    <p> Регрессия </p>
    <p> Metric r2: 0.8264551365215069</p>
    <p> Metric rmsle: 0.029476367858122018</p>
     <p> Metric mre: 0.024461373941475646</p>
    </p>
</form>



{% endblock %}